<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Home</title>
  </head>
  <body>
    <h1><%= user.username %>, Welcome to Your Personal Storage</h1>
    <div class="container">
      <div class="folders-section">
        <div class="folder-list">
          <h2>Folders</h2>
          <% if (folders) { %>
          <ul>
          <% folders.forEach((folder) => { %>
            <li><a href="/home/<%= folder.name %>/<%= folder.id %>"><%= folder.name %></a></li>
          <% }); %>
          </ul>
          <% } %>
        </div>
        <form method="POST" class="add-folder-form">
          <label for="folder-name-input"><strong>Add Folder:</strong></label>
          <input
            type="text"
            name="folder_name"
            id="folder-name-input"
            placeholder="Folder Name"
          />
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="folder-contents">
        <h2><%= selectedFolder.name%></h2>
        <% if (files) { %>
          <ul>
          <% files.forEach((file) => { %>
            <li>
              <span>File: <a href="<%= file.link %>" target="_blank"><%= file.name %></a> </span>
              </br>
              <a href="/home/<%= selectedFolder.name %>/<%= selectedFolder.id %>/<%= file.name %>/details" >File Details</a> 
              <form action="/download/<%= file.name %>" method="GET"> 
                <input type="hidden" name="myFile" value="<%= file.link %>"> 
                <button type="submit">Download</button>
              </form>
            </li>
          <% }); %>
          </ul>
          <% } %>
        <a href="/home/<%= selectedFolder.name %>/<%= selectedFolder.id %>/upload-file">Upload File</a> </br>
        <a href="/home/<%= selectedFolder.name %>/<%= selectedFolder.id %>/update">Edit Folder</a>
      </div>
    </div>

    <br />
    <form method="post" action="/logout">
      <button type="submit">Logout</button>
    </form>

    
  </body>
</html>
