<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <script src="/scripts/deleteConfirmation.js" defer></script>
    <title>Update Folder</title>
  </head>
  <body>
    <h1>Edit <%= folder.name%></h1>
    <div class="update-folder-form-container">
      <form method="POST" class="add-folder-form">
        <label for="folder-name-input"><strong>Update Folder:</strong></label>
        <input
          type="text"
          name="folder_name"
          id="folder-name-input"
          placeholder="Folder Name"
        />
        <button class="btn" type="submit">Submit</button>
      </form>
      <form
        action="/home/<%= folder.name %>/<%= folder.id %>/delete"
        method="POST"
        class="delete-folder-form"
        onsubmit="return confirmFileDeletion()"
      >
        <label for="folder-name-input"><strong>Delete Folder</strong></label>
        <input
          type="hidden"
          name="folder"
          id="folder-delete-input"
          value="<%= folder.name %>"
        />
        <button class="btn delete-btn" type="submit">Delete Forever</button>
      </form>
    </div>
    <a class="return-btn" href="/home/<%= folder.name %>/<%= folder.id %>"
      >Return</a
    >
  </body>
</html>
