<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="heading">
      <h1>My Personal Storage</h1>
      <p>User: <%=user.username %></p>
    </div>
    
      <div class="folders-container">

         <form method="POST" class="add-folder-form">
          <label for="folder-name-input"><strong>Add Folder:</strong></label>
          <input
            type="text"
            name="folder_name"
            id="folder-name-input"
            placeholder="Folder Name"
          />
          <button type="submit">Submit</button>
        </form>
        <div class="folder-section">
          
          <% if (folders.length) { %>
            <h2>Folders</h2>
          <div class="folder-list">
          <% folders.forEach((folder) => { %>

            <div class="folder-item">
              <div class="folder-header">
                      <div class="folder-info">
                          <span><a href="/home/<%= folder.name %>/<%= folder.id %>" target="_blank"><%= folder.name %></a> </span>
                      </div>
              </div>
            </div>

          <% }); %>
          </div>
          <% } else { %>
<h2>Add a folder to start!</h2>
          <% } %>
        </div>
       
      </div>

    <br />
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>

    <% if (success) { %>
    <p><%=success %></p>
    <% } %>

    <% if (errors) { %>
    <ul>
        <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
        <% }); %>
    </ul>
    <% } %>
  </body>
</html>
